# Ignore everything
*

# ... except all folders
!*/

!/patmacs/**/*

/patmacs/user-env.el
/patmacs/user-prodigy.el
/patmacs/generated-path-env.el

!/.gitignore
!/init.el
!/early-init.el
!/load-functions.el
!/README.md
!/KEYBINDINGS.md
!/LICENSE
!/bin/**/*
